@font-face {
  font-family: "Inter";
  src: url("./design/fonts/Inter-VariableFont_slnt_wght.ttf") format("truetype");
  font-weight: 100 900;

  /* 100: Thin (Hairline)
200: Extra Light (Ultra Light)
300: Light
400: Normal (Regular)
500: Medium
600: Semi Bold (Demi Bold)
700: Bold
800: Extra Bold (Ultra Bold)
900: Black (Heavy) */

  font-display: swap;
}

:root {
  /* colors    */
  --clr-grey-900: #141414;
  --clr-grey-800: #1f1f1f;
  --clr-grey-700: #333333;
  --clr-green: #c4f82a;
  --clr-white: #ffffff;
  /* fonts */
  --ff-Inter: "Inter", system-ui, sans-serif;
  /* font sizes */
  --fs-xl-24px: 1.5rem;
  --fs-sm--14px: 0.875rem;
  /*font weight*/
  --fw-regular: 400;
  --fw-bold: 700;
  /*Spacing*/
  --sp-40px: 2.5rem;
  --sp-24px: 1.5rem;
  --sp-16px: 1rem;
  --sp-12px: 0.75rem;
  --sp-8px: 0.5rem;
  --sp-4px: 0.25rem;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

html {
  background-color: var(--clr-grey-900);
  color: var(--clr-white);
  font-family: var(--ff-Inter);
  font-size: var(--fs-sm--14px);
  letter-spacing: 0px;
  text-wrap: balance;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  place-content: center;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.profile-card {
  max-width: 384px;
  border-radius: 12px;
  padding: var(--sp-40px);
  background-color: var(--clr-grey-800);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
